<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/form.css">
    <title>Edit Products</title>
</head>

<body>
    <div class="header">
        <h1 class="myEmployees"><a href="/homeadmin">Halodek</a></h1>
    </div>

    <div class="container">
        <h2 class="link">Edit Products</h2>

        <form action="/edit/<%= item.id %>" method="post">
            
                <label for="productName">Product Name:</label><br>
                <input type="text" id="productName" name="productName" value="<%= item.productName %>" required><br>
                <br>
                <label for="image">Image:</label><br>
                <input type="text" id="image" name="image" value="<%= item.image %>" required><br>
                <br>
            
                <label for="description">Description:</label><br>
                <input type="text" id="description" name="description" value="<%= item.description %>" required><br>
                <br>
            
                <label for="price">Price:</label><br>
                <input type="number" id="price" name="price" value="<%= item.price %>" required><br>
                <br>
            
                <label for="stock">Stock:</label><br>
                <input type="number" id="stock" name="stock" value="<%= item.stock %>" required><br>
                <br>
            
                <label for="category">Category:</label><br>
                <select name="CategoryId" id="category" required>
                    <option value="<%= item.Category.id %>" selected hidden><%= item.Category.categoryTag %></option>
                    <option value="1">Vitamin-Suplemen</option>
                    <option value="2">Asma</option>
                    <option value="3">Kesehatan Jantung</option>
                    <option value="4">Kebutuhan Covid-19</option>
                </select><br>
                <br>
                <br>
            <button type="submit">Edit Item</button>
        </form>
    </div>

</body>

</html>