<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="home.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>

<body>
    <div class="header">
        <h1 class="myEmployees"><a href="/home">Halodek</a></h1>
    </div>
    <div class="addSortFilter">
        <div class="addEmployeeButton">
            <a href="/cart"><button>Cart</i></button></a>
            <a href="/logout" class="logout"><button>Logout</button></a>
        </div>
        <div class="sortAndFilter">
            <div class="sortBy" >
                <a href="/home"><button>All</button></a>
                <a href="/home?categoryTag=Vitamin-Suplemen"><button name="categoryTag" value="Vitamin-Suplemen">Vitamin &
                        Suplemen</button></a>
                <a href="/home?categoryTag=Asma"><button name="categoryTag" value="Asma">Asma</button></a>
                <a href="/home?categoryTag=Kesehatan-Jantung"><button name="categoryTag" value="Kesehatan-Jantung">Kesehatan
                        Jantung</button></a>
                <a href="/home?categoryTag=Kebutuhan-Covid-19"><button name="categoryTag" value="Kebutuhan-Covid-19">Kebutuhan
                        Covid-19</button></a>
                <br>
            </div>
            <div class="filter">
                <form action="/home" method="get">
                    <input name="searchProduct" placeholder="Search">
                    <button type="submit">Search</button>
                </form>
            </div>
            
        </div>
    </div>
    <br>
    <br>
    <div class="container">
        <div class="employeeCards">
            <% productsData.forEach((el)=> { %>
                <div class="card">
                    <img src="/<%= el.image %>" class="card-img-top" alt="Product Image">
                    <div class="card-body">
                        <h5 class="profile">
                            <%= el.productName %>
                        </h5>
                        <p class="contact">
                            <%= el.stock %> products left
                        </p>
                        <p class="contact">
                            <%= el.description %>
                        </p>
                        <p class="contact">
                            <%= formatRupiah(el.price) %>
                        </p>
                        <div class="actions">
                            <a href="/add-to-cart/<%= el.id %>">Add To Cart</a>
                        </div>
                    </div>
                </div>
                <% }) %>
        </div>
</body>


</html>