<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="home.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>

<body>
    
    <div class="header">
        <h1 class="myEmployees"><a href="/homeadmin">Halodek</a></h1>
    </div>
    <div class="addSortFilter">
        <div class="addEmployeeButton">
            <a href="/transaction-data"><button>Transaction Data</button></a>
            <a href="/homeadmin/add"><button>Add Products</button></a>
        </div>

        <div class="filter">
            <form action="/homeadmin" method="get">
                <input type="text" name="searchProduct" placeholder="Search">
                <button type="submit">Search</button>
            </form>
        </div>
    </div>
    <br>
    <br>
    <div class="container">
        <div class="employeeCards">
            <% productsData.forEach((el)=> { %>
                <div class="card">
                    <img src="/<%= el.image %>" class="card-img-top" alt="Product Image">
                    <div class="card-body">
                        <h5 class="profile">
                            <%= el.productName %>
                        </h5>
                        <p class="contact">
                            <%= el.stock %> products left
                        </p>
                        <p class="contact">
                            <%= el.description %>
                        </p>
                        <p class="contact">
                            <%= formatRupiah(el.price) %>
                        </p>
                        <div class="actions">
                            <a href="/edit/<%= el.id %>">Edit</a>
                            <a href="/delete/<%= el.id %>">Delete</a>
                        </div>
                    </div>
                </div>
                <% }) %>
        </div>
    </div>
</body>


</html>